<h1 class="mb-5">About us...</h1>

<h4 class="mb-5">If you wish to learn more about us, click below:</h4>

<%= link_to "Learn more", "https://en.wikipedia.org/wiki/Friends", class:"btn btn-secondary" %>
