<h1 style="text-align: center;" class="mb-3">Welcome to Friends List App!</h1>

<%= image_tag "friends.png", alt:"Background", style:"border-radius: 20px;", class:"img-fluid d-block mx-auto mb-5" %>

<h3 style="text-align: center;">Easily manage your friends through this app</h3>
