// html, body {
//   height: 100%;  /* Full height for the viewport */
//   margin: 0;     /* Remove any default margin */
// }

// .d-flex.flex-column {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;  /* Ensures the container fills the viewport */
// }

// .container {
//   flex-grow: 1;  /* Allows the content to take up remaining space */
// }

// footer {
//   margin-top: auto; /* Push the footer to the bottom of the page */
//   padding: 30px;
//   padding: 10px;    /* Add some padding for spacing */
//   text-align: center;
// }

.pagination .first .page-link {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination .last .page-link {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination .page-link {
  color: black !important;         // Keep the text grey
}

.pagination .page-item.active .page-link,
.pagination .page-link:focus,
.pagination .page-link:active {
  background-color: grey !important;  // Keep the background grey
  border-color: grey !important;      // Keep the border grey
  color: white !important;            // Ensure text is visible
  box-shadow: none !important;        // Remove Bootstrap's default blue glow
}
