.pagination .first .page-link {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination .last .page-link {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination .page-link {
  color: black !important;
}

.pagination .page-item.active .page-link,
.pagination .page-link:focus,
.pagination .page-link:active {
  background-color: grey !important;
  border-color: grey !important;
  color: white !important;
  box-shadow: none !important;
}
